<script lang="ts">
import Vue from 'vue';
import * as ld from 'launchdarkly-js-client-sdk';

export default Vue.extend({
  name: 'LaunchDarkly',
  props: {
    featureFlag: {
      type: String,
      required: true,
    },
    environment: {
      type: String,
      required: false,
      default: 'production',
      validator(value: string) {
        return ['production', 'test', 'dev'].includes(value);
      },
    },
  },
  data() {
    return {
      loading: true,
      variant: 0,
      client: null,
    };
  },
  mounted() {
    if (!(this.$slots.control && this.$slots.experiment)) {
      // eslint-disable-next-line no-console
      console.warn(
        `Must have 'control' and 'experiment' named slots in LaunchDarkly component in ${this.$parent.$options.name}`,
      );
    }

    const queryParams = this.$route.query;

    if (
      queryParams['override-experiment'] ||
      queryParams['override-experiment'] === null
    ) {
      this.runExperiment =
        queryParams['override-experiment'] !== null &&
        !Number.isNaN(queryParams['override-experiment'])
          ? Number(queryParams['override-experiment'])
          : 1;
      this.variant = 1;
      this.loading = false;
    } else if (
      queryParams['override-experiment2'] ||
      queryParams['override-experiment2'] === null
    ) {
      this.runExperiment =
        queryParams['override-experiment'] !== null &&
        !Number.isNaN(queryParams['override-experiment2'])
          ? Number(queryParams['override-experiment2'])
          : 2;
      this.variant = 2;
      this.loading = false;
    } else if (queryParams['override-control'] === null) {
      this.variant = 0;
      this.loading = false;
    } else {
      this.runExperiment();
    }
  },
  methods: {
    async runExperiment() {
      const clientSideIDs: { [key: string]: string } = {
        dev: '620c3008ff3d1512c4f496a3',
        test: '620c2f247f24eb0c056e3a8b',
        production: '620c2f247f24eb0c056e3a8c',
      };
      // We could explore using anonomous users in the future according to SDK docs
      const user: ld.LDUser = { anonymous: true };

      if (!this.client) {
        // Runs only if client has not already been initialized
        this.client = ld.initialize(clientSideIDs[this.environment], user, {
          bootstrap: this.featureFlag,
        }); // LDClient must remain a singleton
        this.variant = await this.client
          .waitForInitialization()
          .then(() => this.client.variation(this.featureFlag, 0))
          .catch(() => 0) // Show control if promise fails
          .finally(() => {
            this.loading = false;
          });
      }
      // eslint-disable-next-line no-undef
      window.dataLayer.push({
        event: 'launchDarklyExperiment',
        launchDarklyExperimentName: this.featureFlag,
        launchDarklyExperimentId: this.variant,
      });
    },
    fireCustomEvent(customEventName) {
      this.client.track(customEventName);
      this.client.flush();
    },
    getVariantName() {
      let variantName = 'control';

      if (this.variant === 1) {
        variantName = 'experiment';
      } else if (this.variant === 2) {
        variantName = 'experiment-two';
      }

      return variantName;
    },
  },
});
</script>

<template>
  <div :class="{ hidden: loading }">
    <slot :name="getVariantName()"></slot>
  </div>
</template>

<style scoped>
.hidden {
  opacity: 0;
}
</style>
