<script lang="js">
import Vue from 'vue';
import { NextStepAlt,  LaunchDarkly, } from '../components/common/index.vue';
import {
  CustomerLogos,
  IntroBlock,
  BlurbGrid,
  FeatureShowcase,
  TabbedFeatures,
  TabbedCaseStudies,
  RecognitionSpotlight,
  HeroScrollGallery,
} from '../components/home/index.vue';
import { getPageMetadata } from '../common/meta';

export default Vue.extend({
  components: {
    CustomerLogos,
    NextStepAlt,
    IntroBlock,
    BlurbGrid,
    FeatureShowcase,
    TabbedFeatures,
    TabbedCaseStudies,
    RecognitionSpotlight,
    HeroScrollGallery,
    LaunchDarkly,
  },
   async asyncData({ $content, params, i18n }) {
    const locale = i18n.locale === i18n.defaultLocale ? '' : i18n.locale;
    const doc = await $content(locale, `index`, params.slug).fetch();
    const codeSuggestions = await $content(`code-suggestions`).fetch();
    return { doc,codeSuggestions,locale };
  },
  head() {
      const metaInfo = getPageMetadata(this.doc, this.$route.fullPath, this.$nuxtI18nHead({ addSeoAttributes: true }))

    return {
      ...metaInfo,
    };
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize() {
      this.width = window.innerWidth;
    },
    onFreeTrialClick() {
      this.$refs.launchDarklyButtons.fireCustomEvent(
        'clicked-hero-redesign-free-trial-cta',
      );
    }

  },
});
</script>

<template>
  <div class="homepage-container">
    <LaunchDarkly
      ref="launchDarklyButtons"
      feature-flag="homepage-hero-free-trial-cta-clicks"
    >
      <!-- redesign hero free trial cta's control -->
      <template #control>
        <HeroScrollGallery
          v-if="doc.hero_scroll_gallery"
          v-bind="doc.hero_scroll_gallery"
          @hero-free-trial-cta-click="onFreeTrialClick()"
        />
      </template>
      <!-- redesign hero free trial cta's experiment -->
      <template #experiment>
        <HeroScrollGallery
          v-if="doc.hero_scroll_gallery"
          v-bind="doc.hero_scroll_gallery"
          :is-experiment="true"
          @hero-free-trial-cta-click="onFreeTrialClick()"
        />
      </template>
    </LaunchDarkly>
    <SlpContainer>
      <CustomerLogos :data="doc.customer_logos_block" />
    </SlpContainer>

    <IntroBlock :data="doc.intro_block" />

    <BlurbGrid :data="doc.blurb_grid" />

    <SlpContainer v-if="doc.feature_showcase">
      <FeatureShowcase :data="doc.feature_showcase" />
    </SlpContainer>
    <TabbedFeatures
      v-if="doc.tabbed_features"
      :data="doc.tabbed_features"
      :code-blocks="codeSuggestions.code_blocks"
    />
    <TabbedCaseStudies
      v-if="doc.quotes_carousel_block.quotes"
      v-bind="doc.quotes_carousel_block"
    />
    <RecognitionSpotlight
      v-if="doc.recognition_spotlight"
      :data="doc.recognition_spotlight"
    />
    <NextStepAlt :current-locale="locale" />
  </div>
</template>
<style scoped lang="scss">
.homepage-container {
  position: relative;
  background-image: url('/nuxt-images/home/gradient.png');
  background-repeat: no-repeat;
  background-size: 300% 1400px;
  background-position: center top;
  z-index: 1;
  overflow: hidden;
  @media (min-width: $breakpoint-sm) {
    background-size: 100% 1400px;
    background-position: right top;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 746px;
    left: 0;
    top: 700px;
    z-index: -1;
    background: linear-gradient(
      0deg,
      #fff 0%,
      #fff 24.59%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
</style>
