<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
});
</script>

<template>
  <div class="list-header">
    <div class="text-container">
      <SlpIcon
        :name="data.icon"
        variant="marketing"
        hex-color="#171321"
        size="lg"
      />

      <SlpTypography tag="h2" variant="heading2-bold" class="title">
        {{ data.title }}</SlpTypography
      >
      <SlpTypography tag="h3" variant="body1" class="subtitle">
        {{ data.subtitle }}
      </SlpTypography>
      <SlpButton
        variant="tertiary"
        :href="data.button.url"
        :data-ga-name="
          data.button.data_ga_name ??
          `link to ${data.button.text.toLowerCase()}`
        "
        :data-ga-location="data.button.data_ga_location ?? 'body'"
        class="button"
      >
        {{ data.button.text }}
        <SlpIcon
          name="chevron-lg-right"
          variant="product"
          hex-color="#171321"
        />
      </SlpButton>
    </div>
    <div class="list-container">
      <ul>
        <li v-for="item in data.list" :key="item.text">
          <SlpIcon name="check" variant="product" class="check" />
          <SlpTypography>{{ item }} </SlpTypography>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.list-header {
  display: flex;
  margin: $spacing-96 0;
  justify-content: space-between;
  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    margin: $spacing-64 0;
  }
  .text-container {
    flex-basis: 80%;
    margin-right: $spacing-48;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: $spacing-32;
    }
    .title {
      margin-bottom: $spacing-24;
      margin-top: $spacing-32;
    }
    .subtitle {
      margin-bottom: $spacing-32;
    }
  }
  .list-container {
    display: flex;
    padding-top: 80px;
    li {
      display: flex;
      align-items: center;
      margin-bottom: $spacing-24;
      .check {
        margin-right: $spacing-8;
        align-self: flex-start;
        padding-top: 1%;
      }
    }
  }
}
.button {
  color: $color-text-300;
  // overriding slippers ui defaults for the tertiary variant
  padding-left: 0 !important;
  text-align: left !important;
}
</style>
